:root {
  --defaultfg: #372b27;
  --itemfg: #ED561A;
  --boxbg: #FFFFFF;
}

.body > * {
  margin-left: 10vw;
  margin-right: 10vw;
}

.body {
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.item,
.description {
  background: var(--boxbg);
  padding: 1rem;
  border-radius: 5px;
}

.item {
  color: var(--itemfg);
  margin-right: 2rem;
  white-space: nowrap;
}

.description {
  flex-grow: 1;
  font-family: TitilliumWebRegular;
}

.description h3 {
  margin: 0;
}

.h1,
.item {
  font-family: TitilliumWebSemiBold;
}

.h1,
.description {
  color: var(--defaultfg);
}
