.dropdown {
  position: relative;  
}

.dropdown-item {
  background: rgb(var(--secondary-color));
  position: absolute;
  top: 100%;
  left: 0;
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.dropdown-item.inactive {
  visibility: hidden;
}

.dropdown-inline-item.inactive {
  display: none;
}
