.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body * {
  font-size: 1.1rem;
}

#login,
#register {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#login .title,
#register .title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#login input {
  border-radius: 5px 0 0 5px;
}

#register input {
  border-radius: 5px;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(var(--background-color));
}

.input-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.input-group input:not(:last-of-type) {
  margin-right: .5rem;
}

.input-group input:first-of-type:last-of-type {
  flex-grow: 1;
}

.input-group .symbol {
  background: rgb(var(--background-color));
  color: rgb(var(--main-alternate-color));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

.button {
  margin-bottom: .5rem;
}
