.box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.5rem;
}

.main-header {
  color: rgb(var(--main-color));
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.main-button {
  width: 40vw;
}
