/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                    Previous Declaration                                    ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
  --buttonbg: rgb(var(--background-color));
  --buttonbg-selected: rgb(var(--background-alternate-color));
  --descriptionfg: #6D6461;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                  General Characteristics                                   ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 10vw;
}

.left,
.right {
  margin: 1rem 0;
  display: block;
  position: sticky;
  top: calc(0.875rem + 0.5rem + 4rem);
  bottom: 1rem;
}

.box {
  padding: 1.5rem;
  margin-bottom: .1rem;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                     Categories Column                                      ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

.left {
  width: 10vw;
}

#categories li {
  margin-bottom: 1rem;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                        Menu Column                                         ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

.center {
  flex-grow: 1;
  margin: 1.5rem 2rem;
}

/* Dropdown */

.dropdown-item {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

.dropdown-item > button {
  margin-bottom: .5rem;
}

.dropdown-item input {
  text-align: center;
  margin-bottom: .5rem;
}

.dropdown-item input + button {
  margin-bottom: 0;
}

.dropdown-inline-trigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  font-size: 1.3125rem;
  cursor: pointer;
}

.dropdown-inline-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-inline-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.dropdown-inline-item:not(.inactive) {
  margin-top: 1rem;
}

.menu {
  margin-top: .5rem;
}

.title {
  margin-bottom: .5rem;
  font-family: TitilliumWebSemiBold;
  font-weight: normal;
}

.description {
  color: var(--descriptionfg);
}

.content-left {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                      Checkout Column                                       ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ==> Mode Button <== */

#mode {
  display: flex;
  flex-direction: row;
}

#mode #delivery,
#mode #pick-up {
  background: var(--buttonbg);
  padding: .5rem 1rem;
  font-size: .8rem;
  width: 10em;
  text-align: center;
}

#mode #delivery.active,
#mode #pick-up.active {
  background: var(--buttonbg-selected);
}

#mode #delivery {
  border-radius: 5px 0 0 5px;
}

#mode #pick-up {
  border-radius: 0 5px 5px 0;
}

/* ==> Cart <== */

.cart {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
