/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                    Previous Declaration                                    ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
  --main-color: 0, 179, 0;
  --main-alternate-color: 109, 100, 97;
  --background-color: 239, 237, 237;
  --background-alternate-color: 215, 210, 210;
  --secondary-color: 255, 255, 255;
  --font-color: 0, 0, 0;
  
  --invalid-color: 255, 0, 0;

  --headerfg: rgb(var(--main-color));
  --headerbg: rgb(var(--secondary-color));
  --header-active: rgba(0, 0, 0, 0.9);
  --bodybg: rgb(var(--background-color));
  --footerbg: #26220b;
  --footerfg: rgba(var(--secondary-color), 0.75);
}

@font-face {
  font-family: TitilliumWebRegular;
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: TitilliumWebSemiBold;
  src: url(../fonts/TitilliumWeb-SemiBold.ttf);
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                 Universal Characteristics                                  ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

[onclick],
.selectable {
  cursor: pointer;
}

.selectable:hover,
.selectable:focus {
  opacity: 0.769;
}

* {
  font-family: TitilliumWebRegular;
}

b, h1, h2, h3, h4, h5, h6 {
  font-family: TitilliumWebSemiBold;
  font-weight: normal;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

input.invalid {
  border: 1px solid rgba(var(--invalid-color), .8);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:disabled:hover {
  opacity: 0.6;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                    Reusable Components                                     ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

.box {
  padding: 1rem;
  background: rgb(var(--secondary-color));
  color: rgb(var(--font-color));
  border-radius: 5px;
}

.button {
  background: rgb(var(--main-color));
  color: rgb(var(--secondary-color));
  font-family: TitilliumWebSemiBold;
  border: none;
  border-radius: 5px;
  padding: .5rem 0;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  opacity: 0.769;
}

.alt-button {
  background: rgb(var(--secondary-color));
  color: rgb(var(--main-alternate-color));
  font-family: TitilliumWebSemiBold;
  border: 1px solid rgb(var(--main-alternate-color));
  border-radius: 5px;
  padding: .5rem 0;
  cursor: pointer;
  width: 100%;
}

.alt-button:hover {
  background: rgb(var(--main-alternate-color));
  color: rgb(var(--secondary-color));
}

.center-w {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

a.selected {
  color: rgb(var(--main-color));
  font-family: TitilliumWebSemiBold;
  font-weight: normal;
}

.vertical-nav {
  display: flex;
  flex-direction: column;
}

.vertical-nav a {
  cursor: pointer;
}

.vertical-nav a:hover,
.vertical-nav a:focus {
  opacity: 0.769;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                        Notification                                        ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

#notification {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#notification .banner {
  padding: .5rem 0;
  width: 30vw;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

#notification .title {
  font-family: TitilliumWebSemiBold;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notification .data {
  display: flex;
  justify-content: center;
  align-items: center;
}

#notification .error {
  background: rgba(255,25,25,.6);
}

#notification .warning {
  background: rgba(255,255,0,.6);
}

#notification .information {
  background: rgba(0,255,0,.6);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                        Header & Nav                                        ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

.header {
  background: var(--headerbg);
  color: var(--headerfg);
  padding: .5rem 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header a {
  font-family: TitilliumWebSemiBold;
  opacity: 0.769;
}

.header a:hover {
  opacity: 1;
}

.header a.active {
  color: var(--header-active);
}

.nav ul {
  display: flex;
  flex-direction: row;
}

.nav li {
  padding: 0 .5rem;
}

.header .logo {
  font-size: 1.8rem;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                       Document Body                                        ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

.body {
  flex-grow: 1;
  background: var(--bodybg);
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║                                           Footer                                           ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════╝ */

.footer {
  background: var(--footerbg);
  color: var(--footerfg);
  display: flex;
  flex-direction: column;
}

.footer-top {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bot {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.footer-header {
  font-family: TitilliumWebSemiBold;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2;
}

.footer ul {
  padding-top: .7rem;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .fab {
  font-size: 1.5rem;
}
